@model leodacosta02.Models.CommentModel.CommentModel

<h2>@(Model.ParentCommentId > 0 ? "Adicionar resposta" : "Criar comentário")</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ParentCommentId)

    <div class="form-group">
        @Html.LabelFor(m => m.User)
        @Html.TextBoxFor(m => m.User, new
           {
               @class = "form-control",
               placeholder = "Seu nome"
           })
        @Html.ValidationMessageFor(m => m.User)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Text)
        @Html.TextAreaFor(m => m.Text, new
            { 
                @class = "form-control", 
                maxlength = "500",
                placeholder = "Comentário (máx. 500 caracteres)"
            })
        @Html.ValidationMessageFor(m => m.Text)

    </div>

    <button type="submit" class="mt-4 btn btn-primary">
        @(Model.ParentCommentId > 0 ? "Adicionar resposta" : "Criar comentário")
    </button>
}


